<div class="card">
    <div class="card-block">
	<h4 class="card-title">Applications</h4>
	<div class="text-right mb-3">
	    <%= link_to '+ New Application', new_application_path, class: "btn btn-primary" %>
	</div>
	<ul class="applications-list list-unstyled">
	    <% @applications.each do |app| %>
		<li>
		    <h3>
			<%= link_to app.name, application_path(app.id) %>
		    </h3>
		    <div class="">
			<small>Last deployed on July 22, 2017</small>
		    </div>
		</li>
	    <% end %>
	</ul>
    </div>
</div>
