<div class="card">
  <div class="card-block">
    <h4 class="card-title">Applications</h4>
    <div class="text-right mb-3">
      <%= link_to '+ New Application', new_application_path, class: "btn btn-primary" %>
    </div>
    <ul class="applications-list list-unstyled">
      <% @applications.each do |app, latest_deploy| %>
        <li>
          <h3>
          <%= link_to app.name, application_path(app.id) %>
          </h3>
          <div class="app-latest-deploy">
            <% if latest_deploy %>
            <small>Last deployed on <%= Time.at(latest_deploy.created_at.seconds).strftime('%b %d, %Y · %l:%M %P') %></small>
            <% else %>
            <small>Not yet deployed!</small>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
