// Place all the styles related to the Applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr.deployment.active {
  background: antiquewhite;
}

tr.deployment.latest {
  background: aliceblue;
}

tr.deployment.latest + .latest {
  background: white;
}

.applications-list li {
    padding: 10px 0 20px 0;
    border-bottom: 1px solid #ccc;
    margin: 0 0 20px 0;
}
