<div class="card">
  <p class="card-header">Soapbox API</p>
  <div class="card-block">
    <dl>
      <dt>Version</dt>
      <dd><%= @version.version %></dd>
      <dt>Git commit</dt>
      <dd><%= @version.git_commit %></dd>
      <dt>Build time</dt>
      <dd><%= @version.build_time %></dd>
    </dl>
  </div>
</div>
